# --------------------------------------------------------------------------
# 2. Your Specific Folders to Ignore
# --------------------------------------------------------------------------
__pycache__/